<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Merchandise  Form</title>

</head>

	<div layout:fragment="content" class="container mySpace">
	<div class="wrapper fadeInDown">
	 <div id="formContent">
	<div class="alert alert-warning" th:if="${exist}">
	<p class="text text-center">
	 Product with this Title already Exist
	</p>
	</div>
		<form th:action="@{/addMerch}" th:object="${merchandise}" method="post">
<div class="card border-primary mb-3" style="margin: auto;">
  <div class="card-header" style=" font-size:35px; background-color:#66ff99;color:#ffffff ">Create Product</div>
  <div class="card-body">
    <h2 class="card-title">Product Information</h2>
    <div class="form-group">
				 <input
					type="text" class="form-control" th:field="*{title}" id="email" placeholder="Product Title"  />
				<div class="text text-danger" th:if="${#fields.hasErrors('title')}"
					th:errors="*{title}"></div>
			</div>
			<div class="form-group">
				 <input
					type="text" class="form-control" th:field="*{manufacturer}"
					id="manufacturer" placeholder="Manufacturer"/>
				<div class="text text-danger"
					th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}"></div>

			</div>
			<div class="form-group">
				 <input type="number" class="form-control" th:field="*{price}" id="name" placeholder="Full Name"/>
				<div class="text text-danger" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}"></div>

			</div>
			
			<div class="form-group">
				 <input type="text" class="form-control" th:field="*{category}" id="category" placeholder="Product Category"/>
				<div class="text text-danger" th:if="${#fields.hasErrors('category')}"
					th:errors="*{category}"></div>

			</div>
			<input type="submit" value="Submit" class="btn btn-primary btn-lg" />
			
  </div>
</div>
</form>
</div>
</div>
			

		
	</div>
</body>
</html>