<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Index Page</title>
<style>
#fadeout {
  opacity: 1;
  transition: 1s opacity;
  text-align: left;
  text-color: purple;
  font-size:42px;
}
</style>
</head>
<body>



	<div layout:fragment="content" class="container mySpace">

	

<div id="fadeout">Hey,<span th:utext="${name}"></span></div>



	</div>
</body>
</html>