<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout}" >
<head>
 <title>Index Page</title>
</head>
<body>

     <div  layout:fragment="content" class="container mySpace">
          <div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">New Location Added</h4>
  <p class="mb-0">AS Admin you have chosen this as a save location to perform!
  Do you want to add another? </p>
  
  
  <a class="btn btn-primary btn-lg" href="/marker" role="button">New Location</a>
</div>
     </div>
</body>
</html>